/* COLOURS & STYLES

/* RESET */

html{
    height: 100vh;
    width: 90vw;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BACKGROUND IMAGE */

body{
    background-image: url(/img/mountains.jpg);
    background-size: 100vw;
    background-repeat: no-repeat;
}

/* CONTAINERS */

.outer-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
}

/* HEADER */

.container-header{
    display: flex;
    width: 100%;
}

nav{
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 10rem;
    margin-right: 2rem;
    margin-top: 1.5rem;
}

h2{
    margin: 1.5rem;
    margin-left: 6rem;
    font-style: oblique;
    color: whitesmoke;
}

a{
    font-size: 20px;
    text-decoration: none;
    color: whitesmoke;
}

a:hover{
    text-decoration: underline;
}

/* HEADLINE */

.headline{
    padding: 20px;
    width: 45vw;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subscribe{
    color: whitesmoke;
    font-size: large;
    font-style: italic;
    margin-top: 3rem;
}

.subscription{
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: larger;
    color: whitesmoke;
    /* display: flex;
    flex-direction: column; */
}

input{
    width: 250px;
    height: 25px;
}

h1{
    font-size: 60px;
    font-style: italic;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    color: whitesmoke;
}

.htext-container{
    width: 45vw;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.headline-text{
    width: 20vw;
    text-align: center;
    font-size: 23px;
    color: whitesmoke;
}

button{
    width: 250px;
    height: 50px;
    border-radius: 30px;
    font-size: medium;
    font-weight: bolder;
    font-style: oblique;
    background-color: white;
}

button:hover{
    cursor: pointer;
    background-color: rgba(245, 245, 245, 0.94);
    outline: 1px solid black;
}

/* INNER CONTAINER */

.innercontainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    height: 70vh;
}

h3{
    text-align: center;
    margin-bottom: 1rem;
    font-size: large;
    text-transform: uppercase;
    font-weight: bolder;
}

/* PARIS */

.paris{
    font-size: small;
    /* border: 1px solid white; */
    border-radius: 20px;
    padding: 1rem;
    color: whitesmoke;
    background-image: url(/img/Paris-Eiffel.jpeg);
    background-size: cover;
    height: 100%;
}

.paris-anchor:hover{
    cursor: pointer;
    text-decoration: none;
    transform: scale(1.1);
    transition-duration: 1s;
}


/* DUBAI */

.dubai{
    font-size: small;
    /* border: 1px solid white; */
    border-radius: 20px;
    padding: 1rem;
    color: whitesmoke;
    background-image: url(/img/Dubai-wallpaper.jpeg);
    background-size: cover;
    height: 100%;
}

.dubai-anchor:hover{
    cursor: pointer;
    text-decoration: none;
    transform: scale(1.1);
    transition-duration: 1s;
}

/* MARBELLA */

.marbella{
    font-size: small;
    /* border: 1px solid white; */
    border-radius: 20px;
    padding: 1rem;
    color: whitesmoke;
    background-image: url(/img/marbella2.jpeg);
    background-size: cover;
    height: 100%;
}

.marbella-anchor:hover{
    cursor: pointer;
    text-decoration: none;
    transform: scale(1.1);
    transition-duration: 1s;
}

/* MARRAKECH */

.marrakech{
    font-size: small;
    /* border: 1px solid white; */
    border-radius: 20px;
    padding: 1rem;
    color: whitesmoke;
    background-image: url(/img/marrakech-wallpaper.webp);
    background-size: cover;
    height: 100%;
}

.marrakech-anchor:hover{
    cursor: pointer;
    text-decoration: none;
    transform: scale(1.1);
    transition-duration: 1s;
}